.textbox{
    color: rgb(253, 240, 120); /*สีตัวหนังสือ*/
    background-color: rgb(115, 115, 230); /*พื้นหลัง*/
    border: 4px solid rgb(66, 63, 63); /*สีของเส้นขอบ :( ขนาด สไต สี )*/
    box-shadow: 4px 4px 8px 4px rgb(138, 212, 138); /*สีของเงา (ตำแหน่งเงา ตำแหน่งเงา ขนาดเงา ขนาดเงา)*/
}